<footer id="footer-region" ng-controller="FooterCtrl">
	<div>
		<nav class="footer navbar navbar-fixed-bottom nav-footer sub-footer">
			<div class="container">
				<div class="float-left legal">Korn Ferry 2017 All Rights Reserved.</div>
				<ul id="footer-app-list" class="horizontal-ul list-float-right split">
					<li>
						<a href="http://static.kornferry.com/media/kornferry/Terms_of_Use_Kornferry.pdf">Terms</a>
					</li>
					<li>
						<a href="https://cdn.kornferry.com/privacy/en-gb/privacy.pdf">Privacy</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</footer>